bucket                      = "oci-devops-tfstate"
key                         = "dev/terraform.tfstate"
region                      = "sa-saopaulo-1"
endpoint                    = "https://<namespace>.compat.objectstorage.sa-saopaulo-1.oraclecloud.com"
skip_region_validation      = true
skip_credentials_validation = true
skip_metadata_api_check     = true
force_path_style            = true
